<header>
    <td class="color">
    <table>   <!Es es una tabla> 
        <body>
          <tr>  <!esta es una fila>
              <td class="Izquierda"> <! esta es una clase>
                <img class="logo" src="../../assets/imagenes/consejos.png">
              </td>
                 <td class="Derecha"> 
                     <a [routerLink]="['sesion']" >
                      <i class="fas fa-user-circle"></i> Iniciar Sesion
                     </a> 
                      <a href="https://api.whatsapp.com/send?phone=8671290074" target="_black">
                        <i class="fas fa-comment-dots"></i> Contacto
                       </a>
                       <a [routerLink]="['Practicas']" >
                        <i class="fas fa-book"></i> Practicas
                       </a>
                 </td>
           </tr>
        </body>
    </table>
</header>


