<body>
    <footer class="piepagina">
        <div class="grupo1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="../../assets/imagenes/consejos.png">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2>SOBRE NOSOTROS UWU </h2>
                <p>Mi nombre es zeldalinda y me gustaria compartir mi experiencia como streamer 
                   dando algunas ideas,tutoriales y consejos para los nuevo streamers
                </p>
            </div>
            <div class="box">
                <h2>SIGUENOS</h2>
                <div class="redsocial">
                    <a href="https://www.facebook.com/ZeldalindaUwU" class="fab fa-facebook fa-2x"> </a>
                    <a href="https://www.twitch.tv/zeldalinda" class="fab fa-twitch fa-2x"></a>
                    <a href="https://www.instagram.com/zeldalinda02/?hl=es" class="fab fa-instagram fa-2x"></a>
                </div>
            </div>
        </div>
        <div class="grupo2">
            <small>&copy; 2021 <b>Eunice Abigail Cruz Espinoza (Zeldalinda)</b> - Todos los derechos reservados.</small>
        </div>
    </footer>
</body>