<body>
    <form>
        <div>
          <figure>
             <img src="../../assets/imagenes/consejos.png">
          </figure>
             <div class="Contenedor">
                <label class="color"> Correo Electronico: </label>
                <input type="email" class="Correo" placeholder="Escribe tu Correo Electronico">
             <div class="Contenedor">
                    <label class="color">Contraseña: </label>
                     <input type="password" class="contraseña" placeholder="Escribe tu Contraseña">
                </div>
               </div>
                <button class="boton">Ingresar</button>
                <p></p>
                <a class="link" [routerLink]="['../registro']" >
                  <p  class="fas fa-quran ">¿No te has registrado?</p>
                </a>
        </div>
    </form>
</body>
