<table>
    <body>
        <tr class="izquierda">
          <a [routerLink]="['inicio']" >
            <td class="Predeterminada">
              <i class="fab fa-gratipay fa-2x">Inicio</i>
            </td>         
          </a>
            
             <a [routerLink]="['tutoriales']">
               <td class="Azul">
                 <i class="fas fa-magic fa-2x">Tutoriales</i>
               </td> 
             </a>
         
                <a [routerLink]="['consejos']">
                 <td class="Verde">
                   <i class="fas fa-crown fa-2x">Consejos</i>
                  </td>
                 </a>

                  <a [routerLink]="['ideas']">
                    <td class="Morado">
                     <i class="fas fa-palette fa-2x">Ideas</i>
                     </td>
                  </a>
         </tr>
    </body>
</table>
