/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: "PressStart2P-Regular";
    src: url(../src/assets/fuentes/PressStart2P-Regular.ttf);
    src: url(../src/assets/fuentes/PermanentMarker-Regular.ttf);
    src: url(../src/assets/fuentes/IndieFlower-Regular.ttf);
}
body{
    background-color: #FD93D8 ;
}